<div class="menuSpanner">
	<div class="borderAroundpoint" onclick="location.href='#!/tracks'" data-ng-click="animationTypeSelection('slide-left')"></div>
	<a class="nonclickglyph glyphicon glyphicon-chevron-left col-xs-1"></a>
	<div class="text col-xs-7" ><span>{{courseFileName}}</span></div>
	<div class="col-xs-3 topBtnDiv"><a data-ng-click="animationTypeSelection('slide-right')" href="#!/playerpage" data-ng-click="reWritePlayers()" class="btn btn-default topBtntrack topBtnShadow" role="button">Välj spelare</a></div>
</div>

<div class="trackCont">
	<div class="row imgHolder">
		<span class="col-xs-1"></span>
		<img class="col-xs-10 bigImg" src={{courseInfo.image}} >
		<span class="col-xs-1"></span>
	</div>

	<div class="infoText">
		<span class="col-xs-10 col-xs-offset-1 trackText">{{courseInfo.description}}</span>
		<span class="col-xs-3 col-xs-offset-1 lowerBtnDiv"> <a data-ng-click="animationTypeSelection('slide-right')" href="#!/holes" class="btn btn-default">Hålinfo</a></span>
	</div>
</div>
