<!-- add slide down animation on whole page -->

<div style="width:100%;height:100vh;background-color:#2b3e50;z-index:2;">

<div class="topBar"><div class="topBarItem">
	<a href="#!/scorecard" class="glyphicon glyphicon-chevron-down" data-ng-click="animationTypeSelection('slide-down'); totalScore()"><!--icon --></a>
</div></div>

<div class="row menuSpannerTall row-no-padding">
	<div class="menuSpannerControlsContainer">
		<div class="borderAroundArrowLeft" data-ng-click="animationTypeSelection('slide-left'); goToPointPage(); holeChoice(hole - 1)" ></div>
		<a class="col-xs-3 nonclickglyph glyphicon glyphicon-chevron-left"><!--icon --></a>
		<div class="col-xs-6">
			<div class="row holeInfo"><div class="holeInfoInside">HÅL&nbsp{{hole + 1}}</div></div>
		</div>
		<div class="borderAroundArrowRight" data-ng-click="animationTypeSelection('slide-right'); goToPointPage(); holeChoice(hole + 1)"></div>
		<a  class="col-xs-3 nonclickglyph glyphicon glyphicon-chevron-right"><!--icon --></a>
	</div>
	<div class="menuSpannerImageContainer"><div class="menuSpannerImage"></div></div>
	<div class="menuSpannerImageInfoboxPositioner">
		<div class ="menuSpannerImageInfobox">
			<div class="menuSpannerHoleInfo">
				Par: {{courseInfo.holes[hole].par}}
				<br>
				Avstånd: {{courseInfo.holes[hole].distance}}m
			</div>
			<a data-ng-click="animationTypeSelection('scale-fade')" href="#!/holepage"><div class="menuSpannerHoleMap"> </div></a>
		</div>
	</div>
</div>

<!-- use ng-repeat to get several components -->
<div class="row addPointSpanner row-no-padding" data-ng-init="checkAllFadeBtn()">
	<div class="col-xs-12 col-no-padding" data-ng-repeat="p in players">
		<div class="row playerName row-no-padding">{{p.name}}</div>

		<div class="row pointRow row-no-padding"> <!-- think about all the cols from previous divs -->
			<div class="col-xs-1"></div>
			<div class="col-xs-2">
				<div class="negButton glyphicon glyphicon-minus-sign" ng-click="fadeButton(p, 'negButton')"><!--icon--></div><!--make id dynamic-->
			</div>
			<div class="points col-xs-6" id="{{players.indexOf(p)}}" ng-model=p.holes[hole]>{{p.holes[hole]}}<!--points--></div><!--make id dynamic-->
			<div class="col-xs-2">
				<div class="posButton glyphicon glyphicon-plus-sign" ng-click="fadeButton(p, 'posButton')"><!--icon--></div><!--make id dynamic-->
			</div>
			<div class="col-xs-1"></div>
		</div>
	</div>
</div>

</div>