/*The top bar holding the menu */
/*.menuBar{
	background-color: rgba(255, 255, 255, 0.25);
	height:75px;
	border-bottom: solid white 2px;
	padding-top:	25px;
	padding-left: 	15px;
	padding-right: 	15px;
}*/
/*A list object */
.hole{
	text-align: center;
	font-size: 28px;
	height: 60px;
	border-bottom: solid white 2px;
	line-height: 60px;
}
/*The div that holds all the list objects */
.container{
	height: calc(100vh - 75px);
	overflow-y: scroll;
}
