.negButton {
	color: rgba(255,0,0,0.2);
	font-size: 50px;
	padding-top: 5px;
}

.posButton {
	color: rgba(0,255,0,0.2);
	padding-top: 5px;
	font-size: 50px;
}

.glyphicon-chevron-up {
	font-size: 30px;
}

.playerName {
	background-color: rgba(255,255,200,0.2);
	border-bottom: 2px solid rgba(255,255,200,0.1);
	text-align: center;
	font-size: 50px;
}

.pointRow {
	background-color: rgba(255,255,200,0.15);
	border-bottom: 2px solid rgba(255,255,200,0.5);
}

.points {
	text-align: center;
	font-size: 45px;
}

.addPointSpanner {
	overflow-x: hidden;
	overflow-y: scroll;
}

.col-no-padding {
	padding: 0;
}

.holeInfo {
	text-align: center;
	font-size: 20px;
}

.parInfo {
	text-align: center;
	font-size: 20px;
}

.buttonPos {
	float: right;
}