/*The top bar that holds the menu */
.menuBar{
	background-color: rgba(255, 255, 255, 0.25);
	height:75px;
	border-bottom: solid white 2px;
	padding-top:	25px;
	padding-left: 	15px;
	padding-right: 	15px;
}
/*The list object displaying the winner */
.winner{
	text-align: center;
	font-size: 30px;
	height: 70px;
	border-bottom: solid white 2px;
}
/*The remaining list objects */
.losers{
	text-align: center;
	font-size: 30px;
	height: 70px;
	border-bottom: solid white 2px;
}
/*The smaller text inside the list objects */
.sub{
	font-size: 16px;
}
/*The div that holds the list objects */
.container{
	height: calc(100vh - 75px);
	overflow-y: scroll;
}
