<p> Here is your start page Jim </p>
<a data-ng-click="animationTypeSelection('spin-toggle')" href="#!/tracks">Tracks</a> <br>
<a data-ng-click="animationTypeSelection('rotate-in')" href="#!/trackpage">Trackpage</a> <br>
<a data-ng-click="animationTypeSelection('scale-fade')" href="#!/holepage">Holepage</a> <br>
<a data-ng-click="animationTypeSelection('bouncy-slide-right')" href="#!/scorecard">Scorecard</a> <br>
<a data-ng-click="animationTypeSelection('flip-in')" href="#!/firstpage">Firstpage</a> <br>